{% extends 'base.html' %}
{% load static %}

{% block title %}Login - Grupo SMI{% endblock %}

{% block css %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="login-container text-center">
        <h1 class="mb-4">Bem Vindo!</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="mb-3 text-start">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                    <input type="text" name="username" id="id_username" placeholder="Usuário" class="form-control" required>
                </div>
            </div>
            <div class="mb-3 text-start">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="password" name="password" id="id_password" placeholder="Senha" class="form-control" required>
                    <span class="input-group-text" id="togglePassword">
                        <i class="bi bi-eye-slash" id="eyeIcon"></i>
                    </span>
                </div>
            </div>                       
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-dark">Entrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}